.hero {
  position: relative;
  padding-top: 48px;
  padding-bottom: 89px;
}

.hero::before{
  content: '';
  position: absolute;
  background: url(../img/hero-bg.svg) no-repeat center;
  width: 2061px;
  height: 803px;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 21px;
}

.hero__wrapper {
  padding-top: 55px;
}

.hero__title {
  font-family: "Rubik";
  font-weight: 300;
  margin: 0;
  font-size: 72px;
  line-height: 85.32px;
  color: #F3F7F8;
  font-style: normal;
}

.hero__title-span {
  font-weight: 500;
  font-size: 64px;
  line-height: 75.84px;
}

.hero__desc {
  font-size: 14px;
  line-height: 20px;
  color: #F3F7F8;
  width: 480px;
  margin: 0;
  margin: 27px 0 87px 0;
}

.hero__link {
  border: 1px solid #fff;
  font-family: "Roboto Mono";
  font-size: 18px;
  line-height: 23.74px;
  letter-spacing: -5%;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  background: #FFFFFF;
  box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  border-radius: 100px;
  padding: 14px 84px;
  color: #0D444D;
}

.hero__video-btn{
  border: transparent;
  background-color: transparent;
  padding: 0;
  // width: 100%;
  width: 804px;
  height: 666px;
}

.hero__panda-video{
  display: none;
}

.hero__panda-video-active{
  display: block;
  border-radius: 5%;
  border: 1px solid $white;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50%;
  animation: panda;
  transform: translateX(-50%);
  animation-duration: 0.5s;
}

@-webkit-keyframes panda{
  0%{
    transform: scale(0);
    // left: 50%;
    // transform: translateX(-50%);
  }
  10%{
    transform: scale(0.1);
    // left: 45%;
    // transform: translateX(-50%);
  }
  20%{
    transform: scale(0.2);
    // left: 40%;
    // transform: translateX(-50%);
  }
  30%{
    transform: scale(0.3);
    // left: 35%;
    // transform: translateX(-50%);
  }
  40%{
    transform: scale(0.4);
    // left: 30%;
    // transform: translateX(-50%);
  }
  50%{
    transform: scale(0.5);
    // left: 25%;
    // transform: translateX(-50%);
  }
  60%{
    transform: scale(0.6);
    // left: 25%;
    // transform: translateX(-50%);
  }
  70%{
    transform: scale(0.7);
    // left: 25%;
    // transform: translateX(-50%);
  }
  80%{
    transform: scale(0.8);
    // left: 25%;
    // transform: translateX(-50%);
  }
  90%{
    transform: scale(0.9);
    // left: 25%;
    // transform: translateX(-50%);
  }
  100%{
    transform: scale(1);
    // left: 25%;
    // transform: translateX(-50%);
  }
 
}

.hero__img-active{
  display: none;
}