.how-it-works{
  position: relative;
}

.how-it-works-wrapper {
  margin-top: -67px;
}

.how-it-works__title {
  font-family: "Rubik";
  font-size: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  line-height: 24.88px;
  margin: 0
}

.how-it-works__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

.how-it-works__item {
  width: 480px;
  margin-right: 20px;
  margin-top: 98px;
  padding-top: 159px;
  padding-bottom: 98px;
  position: relative;
}

.how-it-works__item:last-child {
  margin-right: 0;
}

.how-it-works__item-title {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  color: $black;
}

.how-it-works__item::before {
  content: '';
  width: 145px;
  height: 145px;
  background-color: #fff;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.how-it-works__item-01::before {
  background: url(../../img/online.svg) no-repeat center center, #fff;
}

.how-it-works__item-02::before {
  background: url(../../img/communtity.svg) no-repeat center center, #fff;
}

.how-it-works__item-03::before {
  background: url(../../img/animals.svg) no-repeat center center, #fff;
}