.panda {
  background: url(../img/bg-panda.svg) no-repeat;
  background-position: center;
  padding-top: 523px;
  // margin-left: 21px;
}

@media screen and(max-width: $desctop) {
  .panda{
    background-position: -30px;
  }
}
